#body{

	background-color:#faffab;
}




.ss{

margin-left:500px;
width:180px;
float:left;
color:green;
font-style:italic;'
}



h2 {
    color: blue;
    margin-left:580px; 
    color:blue; 
}




.star:after
  { 
  	content:"*";
     color:red;

  	 }