




header{
 
    background-color: #666;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    color: white;
}
footer{
 
    background-color: #666;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    color: white;
}





.Position_color{
 
margin-left:500px;
width:180px;
float:left;
color:green;
font-style: italic;
font-size:22px

}


.btn{
	
	background-color: #00AD21;
	opacity: .9;
	border-radius: 30px;
	padding: 5px; 
	border: 3px solid #73AD21;

}

.radio_color{
	color:green;

}

h2 {
    color: blue;
    margin-left:580px; 
     
}

 p {
    color:red;
    margin-left:300px;	
 }


.star:after
  { 
  	content:"*";
     color:red;
  }
